.appHeader {
  background: #faae1a;
  width: 100%;
  height: 107px; 
  padding-top: 10px;
}

.brandName, .brandName:focus {
  font-family: Poor Richard;
  font-size: 51px;
  color: #231f20;
  margin-left: 50px;
   }

.brandName:hover, .login:hover, .logout:hover, .create:hover, .mypolls:hover {
  color: #555;
}

.login, .logout, .create, .mypolls {
  margin-right: 20px;
  margin-top: 20px;
  font-family: Plantagenet Cherokee;
  font-size: 26px;
  color: #231f20; }

.create {
  margin-left: 20px;
}

.login, .logout {
  float: right;
  cursor: pointer;
}

.mypolls, .mypolls:hover,.brandName, .brandName:hover, .mypolls:focus,.brandName:focus, .create, .create:hover, .create:focus  {
  cursor: pointer;
  text-decoration: none;
}

.bodyHeader {
  font-family: Myriad Pro;
  font-size: 28px;
  color: #231F20;
  color: #231f20;
  text-align: center;
  margin-top: 25px; }

.radioLabel{
  display: inline-block;
}

.radioOption {
  width: 584px;
  height: 30px;
  border: 1px solid #30A4AA;
  position: relative;
  left: 19px;
  top: -23px;
}

.radioSelectedOption {
  border: 1px solid #38A84C;
}

.question {
  font-family: Nyala;
  font-size: 20px;
  color: #231F20;
  color: #231f20; }

.question:focus {
  text-decoration: none; }

.optionBackground, .selectedOptionBackground, .selectedPollBackground {
  display: inline-block;
  height: 29px;
  background: #30A4AA;
  background: #30a4aa;
  position: absolute }

.selectedOptionBackground{
  background: #38A84C;
}

.selectedPollBackground {
  background: #38A84C;
  top: 0px;
  left: 36px;
  z-index: 2;
  height: 34px;
  width: 496px;
  text-align: center;
  padding-top: 5px;
  cursor: pointer;
  font-family: Khmer UI;
  font-size: 16px;
}

.option {
  display: inline-block;
  font-family: Khmer UI;
  font-size: 16px;
  color: #231F20;
  color: #231f20;
  padding-left: 10px;
  padding-top: 2px;
  position: absolute; }

.selectedOption {
  padding-left: 210px;
  cursor: pointer;
}

.radio input[type=radio] {
  margin-top: 9px;
  outline: none; }

.votes {
  float: right;
  padding-right: 20px;
  padding-top: 3px; }

.font-awesome-ellipse {
  float: right;
  margin-right: 5px;
  margin-top: 4px;
  cursor: pointer;
}

.edit, .share, .delete {
  font-family : Myriad Pro;
  font-size : 15px;
  color : #231F20;
  color : rgb(35, 31, 32);
}

.edit:focus, .share:focus, .delete:focus {
  outline: none;
  background-color: white;
}

.editShareDelete {
  margin-top: 15px; 
  margin-bottom: 15px;
  text-align: center;
}

.edit {
  float: left;
  margin-left: 30px;
}

.delete {
  float: right;
  margin-right: 30px;
}

.create-form {
    width: 600px;
    margin: 15px auto;
}

.create-options {
    width: 500px;
    margin-top: 15px;
    float: left;
    
}

.create-question[type="text"]
{
  font-family: Nyala;
  font-size: 20px;
}

.create-options input[type="text"] {
  font-family:  Khmer UI;
  font-size: 16px;
}

.select-option-minus-button:focus, .select-option-plus-button:focus {
  outline: none;
  background-color: white;
}

.create-input-group {
  position: relative;
}

.createButton:focus, .cancelButton:focus {
  outline: none;
}